
.cloud.animation{
  overflow: hidden;
}
svg{
  position:absolute;
}
svg:nth-child(1){
  margin-left:150px;
  margin-top:70px;
  transition:all 1s ease-out;
}
svg:nth-child(2){
  margin-left:150px;
  margin-top:30px;
  transition:all 1s ease-out;
}
svg:nth-child(3){
  margin-left:30px;
  transition:all 1s;
}
.st0{
  fill:white !important;
  stroke:#888 !important;
  stroke-width:2px !important;
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: growSmall 1s linear forwards;
}
.st1{
  fill:white !important;
  stroke:#888 !important;
  stroke-width:4px !important;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: growMedium 1s linear forwards;
}
.st2{
  fill:white !important;
  stroke:#888 !important;
  stroke-width:6px !important;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: growLarge 1s linear forwards;
}
@keyframes growSmall {
  from {
    stroke-dasharray: 1, 39;
  }
  to {
    stroke-dasharray: 40, 0;
  }
}
@keyframes growMedium {
  from {
    stroke-dasharray: 1, 99;
  }
  to {
    stroke-dasharray: 100, 0;
  }
}
@keyframes growLarge {
  from {
    stroke-dasharray: 1, 199;
  }
  to {
    stroke-dasharray: 200, 0;
  }
}
